<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Information Management - Data Science</h1>
            <span>University of Washington</span>
            <span><address>Seattle, US</address><time>2016 to 2018</time></span>
        </header>
        <p>
            <em>Relevant Courses: INFX574 Machine Learning, CSE414 Introduction to Database Systems, CSE373 Data Structures and Algorithm, IMT 577 Business Intelligence Systems, INFX543 Relational Database Management Systems, INFX598 Programming for Data Science</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BS in E-Commerce</h1>
            <span>Wuhan University</span>
            <span><address>Wuhan, CHINA</address><time>2012 to 2016</time></span>
        </header>
    </article>
</section>
