<section class="thirteen columns">
    <h1>Education</h1>
    <article>
        <header>
            <h1>MSc in Information Management - Data Science</h1>
            <span>University of Washington</span>
            <span><address>Seattle, US</address><time>2016 to 2018</time></span>
        </header>
        <p>
            <em>Thesis: Nemore verear an eos, duo accusam placerat urbanitas at, vix libris putent voluptaria ei.</em>
        </p>
    </article>
    <article>
        <header>
            <h1>BS in Information Systems and E-Commerce</h1>
            <span>Wuhan University</span>
            <span><address>Wuhan, CHINA</address><time>2012 to 2016</time></span>
        </header>
        <p>
            <em>Dissertation: Te dicit scripta nec, nec illud decore partem et.</em>
        </p>
    </article>
</section>
