<section class="thirteen columns">
    <h1>Selected Projects</h1>
    <article>
        <header>
            <h1>Seattle Home Value Data Analysis & Visualization Project</h1>
            <span><address>Data Analyst</address><time>Feb 2017</time></span>
        </header>
        <p> • Delivered statistical analysis on over 100,000 tuples of data using R packages including plyr, dplyr, tidyr, reshape2 and lubridate
            • Performed multiple linear regression, logistic regression, SVM and time series analysis on two datasets to find correlations and
seasonality trends using forecast, lattice, zoo, quantmod and xts packages
            • Plotted choropleth map, facet plots and quantile plots to perform interactive visualizations using ggplot2 and splines packages</p>
    </article>
    <article>
        <header>
            <h1>SQL Server Relational Database Implementation Project</h1>
            <span><address>Database Developer</address><time>Jan 2017</time></span>
        </header>
         <p> • Performed market research and designed relational database of e-business store for use in Visio 2010
             • Populated table and data with 4 schemas in SQL Management Studio, including customers, products, order details and staff
             • Utilized SQL subqueries and analytical functions to create computed columns, add encryptions and create views
             • Generated interactive visualizations and sales report using Power BI </p>
    </article>
    <article>
        <header>
            <h1>Data Management System Full Stack Development</h1>
            <span><address>Software Developer</address><time>Jun 2016</time></span>
        </header>
        <p>• Developed a working prototype of multi-layer data management system that allows users to search product, place and cancel
￼￼orders on a travel booking platform
            • Completed the database application using Spring framework, including Java, JavaScript and HTML</p>
    </article>
    <article>
        <header>
            <h1>E-Business Website Front-End Development & Design</h1>
            <span><address>Front-end Developer</address><time>Feb 2015</time></span>
        </header>
        <p>• Designed an overseas shopping e-commerce website prototype using front-end tools like Adobe Dreamweaver 
           • Applied user interface styling using CSS and HTML5 and implemented scripting on the client-side with JavaScript</p>
    </article>
</section>
