<section class="thirteen columns">
    <h1>Selected Projects</h1>
    <article>
        <header>
            <h1>Twitter Sentiment Analysis (Python)</h1>
            <span><address>Text Analysis</address><time>Apr 2017</time></span>
        </header>
        <p> • Designed and implemented an information retrieval and classification system for sentiment analysis on Twitter</p>
        <p> • Crawled tweets on user’s timeline from Twitter API, and extract JSON responses using Requests module</p>
        <p> • Cleaned, parsed and segmented tweets content; counted most frequent words and hashtags associated with each emotion</p>
    </article>
    <article>
        <header>
            <h1>Seattle Home Value Data Analysis & Visualization (R)</h1>
            <span><address>Machine Learning & Data Analysis</address><time>Feb 2017</time></span>
        </header>
        <p> • Delivered statistical analysis on over 100,000 tuples of data using R packages dplyr, tidyr, reshape2, splines and lubridate </p>
        <p> • Performed time series analysis with machine learning to prove patterns like seasonality trends using zoo, xts packages with SVM and ARIMA forecasting models; Performed multiple linear regression on two datasets to find correlations </p>
        <p> • Plotted choropleth map, facet plots and quantile plots to perform interactive visualizations using ggplot2 and lattice packages </p>
    </article>
    <article>
        <header>
            <h1>Business Intelligence Systems Implementation Project</h1>
            <span><address>ETL & Data Warehousing</address><time>Apr 2017</time></span>
        </header>
         <p> • Built a SQL data warehouse that contains staging tables, dimensional model and SQL views that support data visualizations, and utilized functions like grouping, filtering, specialized calculations </p>
         <p> • Developed SSIS (SQL Server Integration Services) packages to perform ETL tasks using SQL multiple joins, identity column insertion, CASE, SUBSTRING, CAST and ISNULL function </p>
         <p> • Utilized SQL subqueries and analytical functions to create computed columns, add encryptions and create views </p>
         <p> • Used Tableau to build interactive visualizations which help to answer business questions </p>
    </article>
    <article>
        <header>
            <h1>Data Management System Full Stack Development</h1>
            <span><address>Database Design & Development</address><time>Jun 2016</time></span>
        </header>
        <p> • Developed a working prototype of multi-layer data management system that allows users to search product, place and cancel </p>
￼￼orders on a travel booking platform
        <p> • Completed the database application using Spring framework, including Java, JavaScript and HTML </p>
    </article>
</section>
