<section class="thirteen columns">
    <h1>Work Experience</h1>
    <article>
        <header>
            <h1>Summer Technical Intern</h1>
            <span><address>Tencent Inc., Wuhan, China</address><time>Jun 2015 to Sep 2015</time></span>
        </header>
        <p> • Participated in the e-business website maintenance, development and update using front-end technologies </p>
        <p> • Reported, analyzed and visualized website’s PV, UV and relevant user data using R, SQL Server and Excel </p>
        <p> • Worked closely with developers, product managers and UI designers and provided analytics support </p>
        <p> • Optimized the targeted push notification content and brought in 30% increase of revenue with higher conversion rate </p>
    </article>
    <article>
        <header>
            <h1>Owner of Taobao Online Shop</h1>
            <span><address>Alibaba.com, Beijing, China</address><time>Apr 2015 to Jul 2016</time></span>
        </header>
        <p> • Co-founded “MEKO” online shop, sells women’s dress with a turnover of $75000/month </p>
        <p> • Responsible for Taobao webpage maintenance, customer data analysis and sales trend prediction </p>
    </article>
</section>
